<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/dashboard/">



    <title>User</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    

  </head>

  <body id='dashboard-bg'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  id='sidebar-button' class="navbar-brand visible-xs" href="#"><span class='fa fa-bars icon-md'></span></a>
          <a class="navbar-brand" href="/">GPDC-App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class='nav navbar-nav navbar-left'>
            <li><a href="/">Home</a></li>
            {% if session.user_type == 1 %}
            <li><a href="/admin">Dashboard</a></li>
            {% elif session.user_type == 0 %}
            <li><a href="/dashboard">Dashboard</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
                  <li><a href="/profile"> Welcome {{session.username}} ▼</a> </li>
                  <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
          <ul class="nav nav-sidebar">
            {% if session.user_type == 1 %}
            <li {% if url_for(request.endpoint) == '/admin' %} class="active" {% else %} class='inactive'  {% endif %}><a href="/admin"><span class="fa fa-dashboard icon-md"></span> <span class='sidebar-option-name'>Overview</span></a></li>
            <li {% if url_for(request.endpoint) == '/user_requests'%} class="active" {% else %} class='inactive'  {% endif %}><a href="/user_requests"><span class="fa fa-bell-o icon-md"></span> <span class='sidebar-option-name'>Requests</span></a></li>
            <li {% if url_for(request.endpoint) == '/user'%} class="active" {% else %} class='inactive'  {% endif %}><a href="/user"><span class="fa fa-users icon-md"></span> <span class='sidebar-option-name'>Users</span></a></li>
            {% elif session.user_type == 0 %}
            <li {% if request.endpoint == 'patients' %} class="active" {% else %} class='inactive' {% endif %}><a href="/patients"><span class="fa fa-users icon-md"></span> <span class='sidebar-option-name'>Patients</span></a></li>
            <li {% if request.endpoint == 'classify' %} class="active" {% else %} class='inactive' {% endif %}><a href="/classify"><span class="fa fa-search icon-md"></span> <span class='sidebar-option-name'>Classify</span></a></li>

            {% endif %}
          </ul>

        </div>

        <div id="hidden-sidebar" class="main col-xs-12 hidden-sm hidden-md hidden-lg hidden-xs">
          <div class="container">
            <ul class="nav nav-sidebar">
              {% if session.user_type == 1 %}
              <li {% if url_for(request.endpoint) == '/admin' %} class="active" {% else %} class='inactive'  {% endif %}><a href="/admin"><span class="fa fa-dashboard icon-md"></span> <span class='sidebar-option-name'>Overview</span></a></li>
              <li {% if url_for(request.endpoint) == '/user_requests'%} class="active" {% else %} class='inactive'  {% endif %}><a href="/user_requests"><span class="fa fa-bell-o icon-md"></span> <span class='sidebar-option-name'>Requests</span></a></li>
              <li {% if url_for(request.endpoint) == '/user'%} class="active" {% else %} class='inactive'  {% endif %}><a href="/user"><span class="fa fa-users icon-md"></span> <span class='sidebar-option-name'>Users</span></a></li>
              {% elif session.user_type == 0 %}
              <li {% if request.endpoint == 'patients' %} class="active" {% else %} class='inactive' {% endif %}><a href="/patients"><span class="fa fa-users icon-md"></span> <span class='sidebar-option-name'>Patients</span></a></li>
              <li {% if request.endpoint == 'classify' %} class="active" {% else %} class='inactive' {% endif %}><a href="/classify"><span class="fa fa-search icon-md"></span> <span class='sidebar-option-name'>Classify</span></a></li>

              {% endif %}
            </ul>
          </div>
        </div>

        <div id='content' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% block profile %}{% endblock %}
             {% block patients %}{% endblock %}
            {% include 'includes/_messages.html' %}
              {% block body %}{% endblock %}


          <!--div id='myModal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" style='width:11%;' role="document">
              <div class="modal-content">
                <div class="modal-body">
                    <h4 class='text-center' style='margin-top:0px;'>Are you sure?</h4>
                    <button id='continue-submition' class='btn btn-primary-4' type="button" style='padding-left:23px;padding-right:23px;'>Yes</button>
                    <button id='discontinue-submition' class='btn btn-default' type="button" style='padding-left:23px;padding-right:23px;'>No</button>
                </div>
              </div>
            </div>
          </div-->

        </div>
      </div>
    </div>



        <!--div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div-->

          <!--h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $(document).ready(function()
  {

  $(".accept-form, .delete-form").submit(function(e){
        check = confirm('Are you sure');

        if(check)
        {

        }
        else
        {
          e.preventDefault();
        }
   });








    $('#sidebar-button').on('click',function()
  {
      $('#content').toggleClass('hidden-xs');
      $('.sidebar').toggleClass('hidden-xs');
      $('#hidden-sidebar').toggleClass('hidden-xs');

  });

    $( window ).resize(function() {
      var screenSize= $( window ).width();

      if(screenSize<=768)
      {
        $('.sidebar').css('position','absolute');

      }


    });

  });

  </script>
  </body>
</html>
